[Unit]
Description=Ytunnel
Requires=openvpn.service
After=openvpn.service
After=network.target

[Service]
ExecStart=/opt/ytunnel/ytunnel.sh
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target